{% extends 'base/main.html' %}


       {%block title%}About Us
       {%endblock title%}



   
 {%block content%}
 
 {% block n %}
 <li class="nav-item">
  <a class="nav-link" href="admin/">Admin Login</a>
</li>
 {% endblock n %}


 <div class="container">
 <h1 style="text-align: center;  color: blue;font-weight:900;">Our Vision</h1>
 <container>
<div style="border: double 1px solid;">        
 <h4 style="float:left;font-size: larger;margin: 50px 0 0 200px; width: 500px;color: black; ">
          Our Website is actively involved in educating the athletes/sportspersons located at various training centres throughout India. Our website has been organizing workshops/seminars and awareness programme on Anti Doping issues. 
    
 </h4>
 <img style=" float: left;margin-left: 300px; width: 300px;" src="https://www.wada-ama.org/sites/default/files/styles/square/public/2022-01/YK6_7425.jpg?itok=-1BGXSk9" alt="sports" srcset="">

</div>
<div style="margin-top: 20px;">
 <h4 style="float:left;font-weight:900;margin: 50px 0 0 200px; width: 500px; ">
     Our key activities include scientific research, education, development of anti-doping capacities, and monitoring of the World Anti-Doping Code – the document harmonizing anti-doping policies in all sports and all countries.
 </h4>
<img style=" float: left;margin-left: 300px;margin-top: 20px;  width: 300px;" src="https://www.wada-ama.org/sites/default/files/styles/square/public/2022-01/0905_LONDON2012_SW0176.jpg?itok=HGli5tGw" alt="" srcset="">
</div>
<div style="margin-top: 20px;">
 <h4 style="float:left;font-size: larger;margin: 50px 0 0 200px; width: 500px;color: black; ">
     We have created a user friendly website  which is accessible to anyone including  disabled or the elderly.These users typically use screen-readers to access the Internet. The 508 website accessibility guidelines highlights simple web design techniques that can be applied to make sure our website can be accessed easily on-screen readers, making our website available to a larger audience.
 </h4>
 <img style=" float: left;margin-left: 300px;margin-top: 20px;  width: 300px;" src="https://www.wada-ama.org/sites/default/files/styles/square/public/2022-01/Gymnast%202.jpg?itok=SYCihj1S" alt="" srcset="">
</div>
 </container>

 <div style="font-size: larger;margin: 150px 0 0 400px; width: 500px;color: black; ">
     <h2 style="text-align: center; color:blue ;"> Created by the Team : <span style="color: qdua;">Bug Hunter Squad</span></h2>
   

 </div>
 <h4 style="float:left;margin: 50px 0 0 150px; width: 50px;color: white; ">Adarsh Mishra<br><br><span style="color:blue;">Frontend Developer</span></h4>
 <h4 style="float:left;margin: 50px 0 0 150px; width: 50px;color: white; ">Adarsh Maurya<br><br><span style="color:black;">Backend Developer</span></h4>
 <h4 style="float:left;margin: 50px 0 0 150px; width: 50px;color: white; ">Sachin Sharma<br><br><span style="color:black;">Presentaion(Team Leader)</span></h4>
 <h4 style="float:left; margin: 50px 0 0 150px;width: 50px;color: white; ">Akash Kumar<br><br><span style="color:blue;">Frontend Developer</span></h4>
 <h4 style="float:left;margin: 50px 0 0 150px; width: 50px;color: white; ">Ashish Rao<br><br><span style="color:black;">Presentation Creator</span></h4>
 <h4 style="float:left; margin: 50px 0 0 150px;width: 50px;color: white; ">Priya Singh<br><br><span style="color:blue;">Presentation Creator</span></h4>

</div>
{%endblock content%}



