{% extends 'base/main.html' %}


       {%block title%}Testing
       {%endblock title%}


   
 {%block content%}
 



    


<div class="container my-5">
    <div class="row">
        <div class="col-8">
            <h3 style="color:rgb(60, 61, 3);">Testing Programme</h3>
        <p style="text-align: justify;">
            NADA is responsible to implement an effective number of  in-competition and out-of-competition tests on the athletes in its registered testing pool. This includes international and national level athletes being tested by NADA . The NADA develops a test distribution plan and allocates the number of samples for each sport or discipline required for effective deterrence. The plan includes in-competition testing, out-of-competition testing, target testing, and may include blood as well as urine collection.
        </p>
        </div>
        <div class="col-4">
            <div class="list-group">
            <ul  class="list-group-item list-group-item-action active">
                <a href="/" class="list-group-item list-group-item-action">
                    World Anti Doping Agency</li>	
                
                    <a href="/" class="list-group-item list-group-item-action"> Ministry of Youth Affairs  </a>
                    <a href="/" class="list-group-item list-group-item-action"> Sports	National Dope Testing Laboratory</a>
                    <a href="/" class="list-group-item list-group-item-action">Tenders India</a>
            </ul>
        </div>
        </div>
      </div>
  </div>

<footer class="pt-4 my-md-5 pt-md-5 border-top">
   


</footer>
{%endblock content%}


